h1 {
    font-size: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
  }
  

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
    height: 80vh;
    background-image: url("https://images.unsplash.com/photo-1505672984986-b7c468c7a134?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    overflow: hidden;
  }
  
button {
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
    margin: 20px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  }

  .contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 50px;
}


  